<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.ufop.workspace.trabalho.controleacademico">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_app_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_app_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".TelaLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TelaInicial"
            android:label="Controle Acadêmico"></activity>
        <activity
            android:name=".TelaDisciplina"
            android:label="Disciplinas"></activity>
        <activity
            android:name=".TelaCadastroCurso"
            android:label="Cadastro do Curso"></activity>
        <activity
            android:name=".TelaAtualizarCurso"
            android:label="Atualização do Curso"></activity>
        <activity
            android:name=".TelaCadastroDisciplina"
            android:label="Cadastro de Disciplina"></activity>
        <activity
            android:name=".TelaControleDisciplina"
            android:label="Controle de Disciplina"></activity>
        <activity
            android:name=".TelaCadastroTarefa"
            android:label="Cadastro de Tarefa"></activity>
        <activity
            android:name=".TelaTarefas"
            android:label="Tarefas"></activity>
        <activity
            android:name=".TelaAtualizacaoTarefa"
            android:label="Atualizar Tarefa"></activity>
        <activity
            android:name=".TelaAtualizacaoDisciplina"
            android:label="Atualizar Disciplina"></activity>
        <activity
            android:name=".TelaGraficoTipoDisciplina"
            android:label="Gráfico Nota por Tipo"></activity>
        <activity
            android:name=".TelaGraficoPrioridadeDisciplina"
            android:label="Gráfico Prioridade por Nota"></activity>
        <activity
            android:name=".TelaGraficoMeta"
            android:label="Gráfico Meta por Nota"
            ></activity>
        <activity android:name=".Notificacao"></activity>
        <activity
            android:name=".TelaGraficoNotasDisciplina"
            android:label="Gráfico Notas por disciplinas"></activity>

    </application>

</manifest>